:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --grey: #6B7280;
    --purple: #8B5CF6;
    --light: #EEE;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira sans", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    color: #FFF;
    background-color: var(--dark);
}

form input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

.app__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 1rem;
    max-width: 100vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--light);
    margin-bottom: 2rem;
}

/*FORM*/
.form {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: center;
}

.form__input__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form__label {
    display: inline-block;
    margin-bottom: 0.5rem;
    color: var(--light);
    font-size: 0.7rem;
}

.form__input {
    background-color: var(--darker);
    width: 40vw;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    color: var(--light);
    font-size: 1.25rem;
}

input::placeholder {
    color: var(--grey);
}

.form__button-group {
    display: flex;
    flex-direction: row;
}

.form__button-group button {
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

.form__open-modal-btn {
    color: var(--purple);
}

/*FILTERS*/
.filters__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 55vw;
    min-width: 400px;
}

.filters__buttons-group {
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
}

.filters__button {
    color: var(--purple);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

.filters__button:focus {
    color: chartreuse;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: 0.4s;
}

.filters__inputs-group {
    display: inline-flex;
    justify-content: space-around;
}

.filters__text-input {
    background-color: var(--darker);
    width: 30vw;
    padding: 0.5rem;
    border-radius: 1rem;
    color: var(--light);
    font-size: 1.25rem;
}

.filters__date-input {
    color: var(--darkest);
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: var(--light);
    padding: 2px 2px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 10vw;
}

.filters__select {
    color: var(--darkest);
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: var(--light);
    padding: 2px 2px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 10vw;
}


/*TASK_LIST*/
.tasks-list__container {
    display: inline-flex;
    flex: 1 1 0;
    max-width: 80vw;
    margin: 0 auto;
    padding-top: 0.5rem;
}

.task-list__content {
    padding-top: 1rem;
}

.tasks-list__title {
    padding-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 300;
    color: var(--grey);
    text-align: center;
}

.task__item__content {
    flex: 1 1 0;
}


/*TASK ITEM*/
.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

.task__container {
    margin: 1rem auto;
    width: 60vw;
    min-height: 50px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
}

.completed {
    background-color: #6B7280;
    margin: 1rem auto;
    width: 60vw;
    min-height: 50px;
    min-width: 450px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 1rem;
}

.completed h3 {
    text-decoration: line-through;
}

.task__dates-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task__date {
    font-size: 12px;
    max-height: 25px;
    max-width: 140px;
    display: inline-block;
    margin: 0.5rem;
    color: var(--light);
    overflow: hidden;
}

.task__description {
    width: 20vw;
}

.task__actions-container {
    display: flex;
}

.task__actions-container button {
    cursor: pointer;
    margin: 0 0.2rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.4s;
}

.task__edit-btn {
    color: var(--purple);
}

.task__delete-btn {
    color: firebrick;
}

.task__checkbox-container {
    margin: 10px;
    width: 15px;
    height: 15px;
}

.task__checkbox-container input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.task__checkbox-container input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--purple);
    background-color: var(--purple);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task__checkbox-container input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.task__checkbox-container input[type="checkbox"]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
}

.form-control + .form-control {
    margin-top: 1em;
}


/*MODAL*/
.modal__container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 150px;
    width: 40vw;
    height: 50vh;
    background: var(--darker);
    border-radius: 1rem;
    z-index: 100;
}

.modal__description {
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--grey);
    margin-bottom: 1rem;
}

.modal__text-input {
    background-color: var(--light);
    width: 25vw;
    padding: 1rem;
    transition: 0.2s;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--darker);
    font-size: 1.25rem;
}

.modal__text-input:focus {
    border: var(--purple) 1px solid;
}

.modal__text-input::placeholder {
    color: var(--grey);
}

.modal__date-inputs-group {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.modal__label {
    margin-top: 0.5rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: var(--light);
    font-size: 1rem;
    margin-right: 1rem;
}

.modal_date-input {
    display: inline-block;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: var(--light);
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
}

.modal__button-group button {
    color: var(--purple);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--light), var(--purple));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}

.modal__button-group {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hide {
    display: none;
}

#overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
}